<!doctype html>
  <html lang="en" class="h-100">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>Sonos Door Sensor</title>
  
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <meta name="theme-color" content="#7952b3">
  
  
      <style>
        h1 {
          padding-top: 45px;
        }
      </style>
    </head>
    <body class="d-flex flex-column h-100">
      
  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
        <h1 class="display-4 text-{{btn_color}}">Door status: {{status_msg}}</h1>
        <a href="{{btn_url}}" class="btn btn-{{btn_color}}" role="button">{{btn_name}}</a>
    </div>
    <br>
    <div class="container">
        <p>Configuration:</p>
        <ul>
            {% for item in data %}
                <li>{{item}}: {{data[item]}}</li>
            {% endfor %}
            </ul>
    </div>
    <div class="container">
        <p>Log events:</p>
        <ul>
            {% for item in events %}
                {{item}}<br>
            {% endfor %}
            </ul>
    </div>
  </main>
  
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Created by Cole Bergmann</span>
    </div>
  </footer>
  
  
      
    </body>
  </html>
  